*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    height: 100vh; 
 
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}
.flex {
    display: flex;
    margin-top: 60px;
    margin-bottom: 80px;
}
h2.titulo {
    color: #FFFFFF;
    font-size: 38px;
    text-align: center;
    
}
h2.titulo span {
    color: #00FA9A;

}

header {
    padding: 40px 4%;
}
a {
    text-decoration: none;
    color: rgba(128, 128, 128, 0.836);
    display: inline-block
    
}
a:hover{
    color: #FFFFFF;
    transform: scale(1.05);
    transition: .2s;
}
.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li {
    display: inline-block;
    padding: 0 40px;
}
.button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FA9A;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 8px #00FA9A;
    border: none;
    
}
section.projetos {
    padding: 100px 4%;
}
section.projetos .flex{
    gap: 80px;
    margin-left: 20px;
}
   
.img-port {
    width: 220px;
    height: 320px;
    margin-left: 20px;
    background-size: cover;
    background-position: 100% 0%;
    border-radius: 40px;
    cursor: pointer;
    position: relative;

}
.img-port:hover{
    background-position: 100% 100%;
    transition: 3s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    opacity: 0;
    transition: 0.5s;
}
.overlay:hover {
    opacity: 1;

}




section.topo-do-site {
    padding: 40px 4%;
}
section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1 {
    color: #FFFFFF;
    font-size: 42px;
    line-height: 40px;

}
.topo-do-site .txt-topo-site p{
    color: #FFFFFF;
    margin: 40px 0px;
}
.img-topo-site img {
    width: 400px;
}
.tecnologia .tecnologia-box {
    color: #FFFFFF;
    padding: 40px;
    margin-top: 25px;
    border-radius: 20px;
    transition: .2s;

}
.tecnologia .tecnologia-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff83
}
.tecnologia-box img {
    width: 100px;
}
section.tecnologia .flex {
    gap: 60px;
}

section.sobre {
    padding: 40px 4%;
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}

section.sobre .txt-sobre {
    color: #FFFFFF;
}
.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;

}
.sobre .txt-sobre h2 span {
    color: #00FA9A ;
}
.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}
.sobre .txt-sobre .isaac-social button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #00FA9A;
    font-size: 20px;
    cursor: pointer;
    margin: 0 6px;
    transition: .2s;
}
.isaac-social button:hover {
    color: #000000;
    transform: scale(1.05);
}
.isaac {
    border-radius: 60px;
}

footer {
    padding: 60px 4%;
}

footer.flex {
    justify-content: space-between;
}
footer .line-footer {
    color: #00FA9A;
    border-top: 3px solid #00FA9A;
}
footer .line-footer p i {
    font-size: 22px;
    margin-right: 10px;
}
footer .line-footer p {
    margin-left: 30px;
}
@media screen and (max-widht: 1020px){
    
}
